*{
    font-family:Arial, Helvetica, sans-serif;
}


body {

    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
.content-container {
    animation: drop-in 1200ms ease 500ms backwards;
   }
   
   @keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(-100px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
   }

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.left-content {
    flex: 1;
    padding: 20px;
    font-size: 24px;
    
}



.right-content img {
    width: 100%;
    max-width: 600px;
    
    border-radius: 50% 50% 50% 50%;
    
    
  
      
}
h2{
    font-size: 80px;
    
}

.black-section {
    background-color: #000;
    height: 150%; /* Adjust the height as needed */
    width: 100%;
    display: flex;
    justify-content: baseline;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}



.black-section .content-container{
    text-align: center;
    color: #fff;
   height: 50%;
    width: 100%;

    
}

.h{
    margin: 2rem;
   
    font-size: 10vw;
     
}

.pp {
    
    padding: 10%;
    font-size: 50vw;
    color: aliceblue;
    font-size: larger;
}

.ul{
    padding: 10%;
    font-size: 50vw;
    color: aliceblue;
    font-size: larger;
    
}

.list-section {
    border-color: #000;
    background-color: #000;
    color: #fff;
    text-align: center;
    
}

.list-section ul {
    list-style-type: none;

}

.list-section li {
    
    font-size: 18px;
}




.timeline {
    display: flex;
    
    padding-left: 10%;
    padding-top: 5%;
    
    
    
  }
  
  /* Outer Layer with the timeline border */
  .outer {
    flex:1;
    border-left: 2px solid #333;
    
  }
  
  /* Card container */
  .card {
    
    margin: 0 0 0px 0px;
    
    background: #f7f4f4;
    color: gray;
    border-radius: 8px;
    width:80%;
    padding: 20px;
    
    
  }
  
  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    
  }
  
  /* Title of the card */
  .title {
    color: rgb(8, 8, 8);
    
  }
  
  /* Timeline dot  */
  .title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    left: -83px;
    border: 3px solid rgb(255, 0, 0);
  }


.timeline .Education h2{
    
    
    flex:1;
    height: 100%;
    width: 100%;
    display: flex;
    text-align:center;
    font-size: 8vw;
    margin-top: 4vw;
    margin-right: 50px;
    
    
    
}
.intern h3{
    padding-top: 40px;
    font-size: 3vw;
    
    padding: 40px;
    text-align: center;
}

@media (max-width: 567px) {
    /* Styles for small screens */
    .content-container {
        flex-direction: column; /* Adjust the layout for smaller screens */
    }
}

.projects h3{
    padding-top: 40px;
    font-size: 3vw;
    color: aliceblue;
    
    padding: 40px;
    text-align: center;
}

.card {
    
    box-shadow: 0 0 20px 10px #a3bbc7;
    margin: 50px auto; /* Adjust margin to center the card */
    
}

.projects img {
    
    box-shadow: 0 0 5px 5px #080808;
    margin: 50px auto; /* Adjust margin to center the card */
    
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  .footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 10%;
  }







  